<header>
        <div class="container">
            <div class="header-content">
                <h1 class="logo">CSE Motors</h1>
                <div class="account-link">
                    <a href="#" aria-label="My Account">MY ACCOUNT</a>
                </div>
            </div>
        </div>
    </header>